{% extends 'base.html' %}
{% block content %}



<h2 class="purple-text">{{yorkie.name}}'s Details</h2>

<div class="card">
  <div class="card-content">
    <p>Gender: {{ yorkie.gender }}</p>
    <p>Spayed/Neutered: {{ yorkie.fixed }}</p>
    <p>Sire: {{ yorkie.sire }}</p>
    <p>Dame: {{ yorkie.dame }}</p>
    <p>Description: {{ yorkie.description }}</p>
    {% if yorkie.age > 0 %}
      <p>Age: {{ yorkie.age }}</p>
      <p>Registered:{{ yorkie.registered }}</p>
    {% else %}
      <p>Age: Puppy</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'yorkies_update' yorkie.id %}">Edit</a>
    <a href="{% url 'yorkies_delete' yorkie.id %}">Delete</a>
  </div>
</div>

{% endblock %}