{% extends 'base.html' %}
{% block content %}

<h1>Yorkie Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ yorkie.name }}</span>
    <p>Gender: {{ yorkie.gender }}</p>
    <p>Spayed/Neutered: {{ yorkie.fixed }}</p>
    <p>Sire: {{ yorkie.sire }}</p>
    <p>Dame: {{ yorkie.dame }}</p>
    <p>Description: {{ yorkie.description }}</p>
    {% if yorkie.age > 0 %}
      <p>Age: {{ yorkie.age }}</p>
      <p>Registered:{{ yorkie.registered }}</p>
    {% else %}
      <p>Age: Puppy</p>
    {% endif %}
  </div>
</div>

{% endblock %}