{% extends 'base.html' %}
{% block content %}

<h1>About the Yorkie Collector</h1>

<hr />

<p>The Yorkie Collector is a place to keep track of your Yorkies!</p>
<br>
<p>From the American Kennel Club website:

    The Yorkshire Terrier is a compact, toy-size terrier of no more than seven 
    pounds whose crowning glory is a floor-length, silky coat of steel blue and 
    a rich golden tan. (Breed Standard)

    Don’t let the Yorkie’s daintiness fool you. Tenacious, feisty, brave, and 
    sometimes bossy, the Yorkie exhibits all the traits of a true terrier. 
    Often named the most popular dog breed in various American cities, Yorkies 
    pack lots of big-town attitude into a small but self-important package. 
    They are favorites of urbanites the world over.
        
    Yorkies are long-lived and hypoallergenic (the coat is more like human hair 
    than animal fur), and they make fine little watchdogs. This is a true 
    “personality breed,” providing years of laughs, love, and close 
    companionship. </p>
<br>
<p>This Collector is a place for you to document and track your yorkies. Not all
    yorkies meet AKC guidelines, so this will be an invaluable resource for breeders
    to keep track of their litters</p>

{% endblock %}